/* Button */
.button{
    background-color: #181f33; 
   padding: 5px;
    width: 500px;
    border-radius: 20px;
}
.row{
    margin: 10px;
}

.btn_so{
    width: 80px;
    height: 80px;
    background-color: #eae3db;

}
.btn_tinh{
    width: 200px;
    height: 80px;
    background-color: #eae3db;

}
.btn_del{
    width: 200px;
    height: 80px;
    background-color: #566aa0; 
    color:#eae3db ;

}

.btn_reset{
    width: 200px;
    height: 80px;
    background-color: #566aa0; 
    color:#eae3db ;
}
.btn_KQ{
    width: 260px;
    height: 80px;
    background-color: red;
    color:#eae3db ;

}
.btn_so,.btn_tinh,.btn_reset,.btn_KQ,.btn_del{
    border-radius: 10px;
    margin: 2px;
    font-size: 30px;
}
.btn_so:hover , .btn_tinh:hover{
    background-color: #566aa0; 
    color:#eae3db ;
}
.btn_del:hover , .btn_reset:hover{
    background-color: red; 
    color:#eae3db ;
}
.btn_KQ:hover{
    background-color: #3b4664;
    color:#eae3db ;
}
